# Steamtown Marathon Anaysis of Change in Pace

This notebook takes the information made available by the Steamtown Marathon, calculates the change in pace between the first 18 miles and the rest of the marathon, and ranks the field by that change in pace. Columns for "First_18_Pace," "Last_8.2_Pace," and "change_in_pace" were calculated and added to the table. The "change_in_pace" column was used to order the field based on increase in pace, and the ranks are in the "change_in_pace_place." No one ran a negative split. Some runners did not have a recorded time at the 18 mile split timing mat, and paces could not be calculated or compared. 

To run this Notebook, use Cell- Run All. The output will be a .csv file named steamtown_pace.

In [36]:
import pandas as pd

In [12]:
url = "http://steamtownmarathon.com/wp-content/uploads/2019/10/Steamtown-Final-Report-10-16-19-Update.xls"
df1 = pd.read_excel(url, converters={'18 MILE SPLIT':str,'CHIP TIME':str})

In [13]:
df1['18 MILE SPLIT'] = pd.to_timedelta(df1['18 MILE SPLIT']) #converts the number value to a timedelta vs. string
df1['CHIP TIME'] = pd.to_timedelta(df1['CHIP TIME'])

In [14]:
df1['First_18_Pace'] = pd.Series(df1['18 MILE SPLIT'] / 18) #makes a new column with pace for 18 miles 
df1['Last_8.2_Pace'] = pd.Series((df1['CHIP TIME'] - df1['18 MILE SPLIT'])/8.2) #makes a new column with pace for rest of race
df1['change_in_pace'] = pd.Series(abs(df1['First_18_Pace'] - df1['Last_8.2_Pace'])) #makes a new column for difference in pace

In [15]:
df2 = df1.sort_values('change_in_pace') #sorts based on change in pace from the split
df2.insert(0, 'change_in_pace_place', range(len(df2)))
df2

,change_in_pace_place,PLACE,RACE_NAME,BIB,BRACKET,FIRST_NAME,LAST_NAME,GENDER,AGE,CITY,REGION_NAME,18 MILE SPLIT,CHIP TIME,GUN TIME,GUN PACE,First_18_Pace,Last_8.2_Pace,change_in_pace
116,0,113,Marathon,407,M 30-34,Jordan,Greenberg,M,30,VERNON HILLS,Illinois,02:15:20,03:16:59,03:17:05,00:07:32,00:07:31.111111,00:07:31.097560,00:00:00.013550
660,1,657,Marathon,353,F 25-29,Cara Ann,Frankosky,F,29,JERMYN,Pennsylvania,03:03:19,04:26:51,04:27:34,00:10:13,00:10:11.055555,00:10:11.219512,00:00:00.163956
112,2,109,Marathon,904,M 55-59,Michael,green sr,M,58,Dalton,Pennsylvania,02:15:00,03:16:32,03:16:44,00:07:31,00:07:30,00:07:30.243902,00:00:00.243902
649,3,646,Marathon,1056,M 30-34,Justin,Zalewski,M,30,Waymart,Pennsylvania,03:02:08,04:25:03,04:26:00,00:10:10,00:10:07.111111,00:10:06.707317,00:00:00.403794
178,4,175,Marathon,293,M 40-44,Gregory,Durcik,M,40,White Haven,Pennsylvania,02:21:17,03:25:43,03:26:07,00:07:53,00:07:50.944444,00:07:51.463414,00:00:00.518970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1001,1002,Marathon,1074,M 30-34,roberto,cabrera,M,30,West Hazleton,Pennsylvania,04:32:28,07:48:05,07:49:03,00:17:55,00:15:08.222222,00:23:51.341463,00:08:43.119241
168,1002,165,Marathon,110,M 40-44,Jason,Bobber,M,44,Wayne,Pennsylvania,NaT,03:24:20,03:24:29,00:07:49,NaT,NaT,NaT
529,1003,526,Marathon,1031,F 45-49,Kristina,Wilhelm-Nelson,F,47,Flourtown,Pennsylvania,NaT,04:09:52,04:10:16,00:09:34,NaT,NaT,NaT
662,1004,659,Marathon,862,F 30-34,Elizabeth,Schaefer,F,34,waverly,Pennsylvania,NaT,04:27:41,04:27:57,00:10:14,NaT,NaT,NaT
731,1005,728,Marathon,759,F 30-34,Justine,paduck,F,32,WYOMING,Pennsylvania,NaT,04:38:11,04:38:44,00:10:39,NaT,NaT,NaT

In [16]:
df2.to_csv('steamtown_pace.csv')  # outputs .csv version